#cards_text{
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    
}
#Subtitle{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
#Subtitle2{
    margin-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
}